django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
django>=2.2.16 
Pillow==9.5.0 
drf_yasg==1.21.5
djangorestframework==3.14.0
